body{
  margin: 0;
  padding: 0;
}
 a {
   color:black;
   text-decoration: none;
   padding: 0;
   margin: 0;
   }
 h2{
   font-size: 40px;
   margin: 0;
   padding : 30px;
 }
 h3{
   font-size: 20px;
 }
 ul{
   height: 100%; overflow: hidden;
   margin: 0;
   list-style: none;
 }
 .line{
   border-bottom: solid 1px #ffffff;
   margin: 20px;
 }
 #top{
   width: 100%;
   height: auto;
   text-align: center;
   padding: 0;
   margin:0;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #bc32f9;
 }
 #top img{
   width: 100%;
   height: auto;
 }
 #grid{
   display: grid;
   grid-template-columns: 200px 1fr;
   height: 100%;
 }
 #menu ul{
   padding: 0px;
   list-style: none;
   background-color: #ffff4a;
 }
 #menu li{
   height: auto;
   padding: 15px;
   text-align: center;
 }
 #menu li:hover{
   font-weight: bold;
 }
 #grid #article{
   color: #ffffff;
   text-align: center;
   height: auto;
   padding: 30px;
   background-color: black;
 }
 #button{
   display: inline-block;
   width: auto;
   height: auto;
   padding: 20px;
   margin-top: 30px;
   text-align: center;
   background-color: #ffff4a;
   font-weight: bold;
 }
 #button:hover{
   background-color: #ff56ff;
 }
#career{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
}

 @media(max-width:800px) {
   #grid{
     display: block;
     height: auto;
     width: auto;
   }
   #grid #article{
     color: #ffffff;
     text-align: center;
     height: auto;
     padding: 10px;
     padding-bottom: 40px;
     margin: 0;
     background-color: black;
   }
   iframe{
     width: 100%;
   }
   ul{
     border-right: none;
   }
   h1{
     border-bottom: none;
   }
 }
